
    <form method="post" class="mt-5">
        <div class="border border-dark">
            <div class="row justify-content-center">
                <div class="col-4">
                    <label>Username</label><br>
                    <input type="text" name="username" placeholder="Enter Username">
                </div>
            </div>
            <div class="row justify-content-center mt-2">
                <div class="col-4 mr-1">
                    <label>Password</label><br>
                    <input type="password" name="password" placeholder="Enter Password">
                </div>
            </div>
            <div class="row justify-content-center mt-2">
                <div class="col-4">
                    <input type="submit" placeholder="submit">
                </div>
            </div>
        </div>
    </form>
